---
import MainLayout from "../components/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
---

<MainLayout>
  <!-- LOTTIEFILES -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
  <lottie-player id="lottiefile" src="../../public/lottiefiles/motion_graphics.json" mode="bounce" background="transparent" speed="1" style="width: 1200px; height: 571px;" autoplay loop></lottie-player>

  <img class="img_normal" src="../../public/img/queen.jpg" alt="Header billede" />
  <img class="img_uv" src="../../public/img/queen_uv.png" alt="Header billede UV" />
  <div>
    <Testimonials />
    <div class="testemonial_knap">
      <a class="knap" href="/indsend">SKRIV EN ANMELDELSE</a>
    </div>
  </div>
  <div class="quiz">
    <h2>QUIZ - Hvilket Escape Room passer dig bedst?</h2>
    <br />
    <form>
      <p>Jeg kan godt lide uhyggelige oplevelser.</p>
      <br />
      <input type="radio" id="html" name="fav_language" value="HTML" />
      <label for="html">I høj grad</label>
      <input type="radio" id="css" name="fav_language" value="CSS" />
      <label for="css">I nogen grad</label>
      <input type="radio" id="javascript" name="fav_language" value="JavaScript" />
      <label for="javascript">Slet ikke</label>
      <br /><br /><br />
      <p>Jeg er god til at løse gåder.</p>
      <br />
      <input type="radio" id="html" name="fav_language" value="HTML" />
      <label for="html">I høj grad</label>
      <input type="radio" id="css" name="fav_language" value="CSS" />
      <label for="css">I nogen grad</label>
      <input type="radio" id="javascript" name="fav_language" value="JavaScript" />
      <label for="javascript">Slet ikke</label>
    </form>
    <br />
    <br />
    <a class="knap" href="#">SE RESULTAT</a>
  </div>
  <br /><br />
</MainLayout>

<style>
  input[type="radio"] {
    margin-left: 20px;
  }
  p {
    font-size: 1.2rem;
  }
  #lottiefile {
    position: absolute;
    z-index: 100;
  }
  .testemonial {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 20px;
  }

  .writer {
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
    margin-right: 100px;
  }

  .testemonial_knap {
    text-align: center;
  }

  .quiz {
    padding-top: 50px;
    padding-bottom: 20px;

    text-align: center;
  }
  .img_normal {
  }
  .img_uv {
    display: block;
    margin-top: -571px;
    animation: uv_kf 8s linear infinite both;
  }

  @keyframes uv_kf {
    /*Animation der skifter billede*/
    0% {
      opacity: 0%;
    }
    30% {
      opacity: 0%;
    }
    40% {
      opacity: 100%;
    }
    70% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
  }
</style>
