---
import MainLayout from "../components/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
---

<MainLayout>
  <!-- LOTTIEFILES -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
  <lottie-player id="lottiefile" src="/lottiefiles/motion_graphics.json" mode="bounce" background="transparent" speed="1" style="width: 1200px; height: 571px;" autoplay loop></lottie-player>

  <img class="img_normal" src="/img/queen.jpg" alt="Header billede" />
  <img class="img_uv" src="/img/queen_uv.png" alt="Header billede UV" />
  <div>
    <Testimonials />
    <div class="testemonial_knap">
      <a class="knap" href="/indsend">SKRIV EN ANMELDELSE</a>
    </div>
  </div>
  <div>VIDEO</div>
  <div class="textbox">
    <div>
      <p>
        <span class="colorLetter">D</span>u tr<span class="colorLetter">æ</span>der ind i mørket <br />
        i starten er d<span class="colorLetter">u</span> blind<br />
        Men snart vil lyset skinne <br />
        Og åbne for dit sind.<br />
        <br />
        Blandt kroner og juveler<br />
        <span class="colorLetter">G</span>emmer sig <span class="colorLetter">e</span>n hemmelighed<br />
        Den må du nu afsløre<br />
        Før tiden løbe<span class="colorLetter">r</span> ud<br />
      </p>
    </div>
    <div>
      <p>
        Hvor før der fandtes gåder<br />
        <span class="colorLetter">V</span>il løsningen stå klar<br />
        Medmindre det vi vise sig<br />
        At du blive<span class="colorLetter">r</span> holdt for nar<br />
        <br />
        Og før du os forlader<br />
        Vil <span class="colorLetter">d</span>u undre dig <span class="colorLetter">i</span>gen<br />
        Måske er dem du stoler på<br />
        ikke altid din ven<br />
      </p>
    </div>
  </div>
  <div class="quiz">
    <h2>QUIZ - Hvilket Escape Room passer dig bedst?</h2>
    <br />
    <form>
      <p>Jeg kan godt lide uhyggelige oplevelser.</p>
      <br />
      <input type="radio" name="uhygge" value="højgrad" />
      <label for="højgrad">I høj grad</label>
      <input type="radio" name="uhygge" value="nogengrad" />
      <label for="nogengrad">I nogen grad</label>
      <input type="radio" name="uhygge" value="sletikke" />
      <label for="sletikke">Slet ikke</label>
      <br /><br /><br />
      <p>Jeg er god til at løse gåder.</p>
      <br />
      <input type="radio" name="gaader" value="højgrad" />
      <label for="højgrad">I høj grad</label>
      <input type="radio" name="gaader" value="nogengrad" />
      <label for="nogengrad">I nogen grad</label>
      <input type="radio" name="gaader" value="sletikke" />
      <label for="sletikke">Slet ikke</label>
    </form>
    <br />
    <br />
    <a class="knap" href="#">SE RESULTAT</a>
  </div>

  <div class="flexdiv">
    <img src="webp/skull.webp" alt="" />
    <img src="webp/help.webp" alt="" />
    <img src="webp/blodskull.webp" alt="" />
  </div>
  <br /><br />
</MainLayout>

<style>
  .colorLetter {
    color: rgb(255, 148, 148);
  }
  .textbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 570px;
    margin-top: 30px;
    margin-inline: auto;
  }
  .flexdiv {
    display: flex;
    gap: 30px;
    padding: 20px 30px 0 30px;
  }
  input[type="radio"] {
    margin-left: 20px;
  }
  p {
    font-size: 1.2rem;
  }
  #lottiefile {
    position: absolute;
    z-index: 100;
  }
  .testemonial {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 20px;
  }

  .writer {
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
    margin-right: 100px;
  }

  .testemonial_knap {
    text-align: center;
  }

  .quiz {
    padding-top: 50px;
    padding-bottom: 20px;

    text-align: center;
  }
  .img_normal {
  }
  .img_uv {
    display: block;
    margin-top: -571px;
    animation: uv_kf 8s linear infinite both;
  }

  @keyframes uv_kf {
    /*Animation der skifter billede*/
    0% {
      opacity: 0%;
    }
    30% {
      opacity: 0%;
    }
    40% {
      opacity: 100%;
    }
    70% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
  }
</style>
