---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <img class="img_normal" src="../../public/img/queen.jpg" alt="Header billede" />
  <img class="img_uv" src="../../public/img/queen_uv.png" alt="Header billede UV" />
  <div>
    <p class="testemonial">"Det fedeste Escape Room jeg nogensinde har prøvet!"</p>
    <p class="writer">- Jørgen Jørgensøn, 2022.</p>
    <div class="testemonial_knap">
      <a class="knap" href="/indsend">SKRIV EN ANMELDELSE</a>
    </div>
  </div>
  <div class="quiz">
    <p>QUIZ - Hvilket Escape Room passer dig bedst?</p>
    <p>Ja/Nej</p>
  </div>
</MainLayout>

<style>
  .testemonial {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 20px;
  }

  .writer {
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
    margin-right: 100px;
  }

  .testemonial_knap {
    text-align: center;
  }

  .quiz {
    padding-top: 50px;
    padding-bottom: 20px;

    text-align: center;
    font-size: 2rem;
  }
  .img_normal {
  }
  .img_uv {
    display: block;
    margin-top: -571px;
    animation: uv_kf 8s linear infinite both;
  }

  @keyframes uv_kf {
    /*Animation der skifter billede*/
    0% {
      opacity: 0%;
    }
    30% {
      opacity: 0%;
    }
    40% {
      opacity: 100%;
    }
    70% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
  }
</style>
