---
import MainLayout from "../components/MainLayout.astro";
import AddTestimonial from "../components/AddTestimonial.astro";
---

<MainLayout>
  <h1>SKRIV EN ANMELDELSE</h1>
  <AddTestimonial />
</MainLayout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
</style>
