---
import "../pages/style.css";
---

<header>
  <div class="header_indhold">
    <a class="header_a" href="/"><img id="logo" src="/img/re_logo.png" alt="Royal Escapes Logo" /></a>
    <nav>
      <ul>
        <li><a class="knap" href="https://www.royalescapes.dk/">GÅ TIL HJEMMESIDEN</a></li>
        <li><a class="knap" href="/indsend">SKRIV EN ANMELDELSE</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header_indhold {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  header {
    padding: 10px 20px 0px 20px;
    background-color: black;
  }
  ul {
    display: flex;
    gap: 50px;
    justify-content: end;
  }
  li {
    list-style: none;
  }
  #logo,
  nav {
    flex: 1;
  }
  #logo {
    width: 15%;
  }
</style>
