---
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}

//const randomIndex = Math.floor(Math.random() * data.id.length) + 1;
//const randomTestimonial = data.id[randomIndex];
---

<article>
  <p>
    {getFirstNChars(data.text, 100)}...
  </p>
  <h2>- {data.name}, {data.year}.</h2>
</article>
