---
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}

//const randomIndex = Math.floor(Math.random() * data.id.length) + 1;
//const randomTestimonial = data.id[randomIndex];
---

<article>
  <br />
  <p>
    "{getFirstNChars(data.text, 100)}"
  </p>
  <br />
  <h2>- {data.name}, {data.year}.</h2>
  <br />
</article>

<style>
  article {
    text-align: center;
    padding: 40px;
  }
  p {
    font-size: 2rem;
    font-family: dosis;
    font-weight: bold;
  }
  h2 {
    margin-left: 300px;
  }
</style>
